/* for  complete videos  */
* {
  cursor: pointer;
}
.videos {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  width: 290px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.video-Thumbnail {
  height: 165px;
  width: 430px;
}
.channel-Thumbnail {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel-description {
  text-align: left;
  font-size: 14px;
  font-weight: 410;
  letter-spacing: 0.07rem;
  margin-bottom: 2.5px;
  white-space: nowrap;
}

.channel-description h4 {
  margin-left: 2px;
  margin-bottom: 0.5px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 450;
  letter-spacing: 0.05rem;
  color: rgb(41, 39, 39);
  white-space: nowrap;
}

.channel-description h3 {
  text-align: left;
  font-size: 14px;
  font-weight: 420;
  letter-spacing: 0.07rem;
  margin-bottom: 2.0px;
  white-space: nowrap;
}


.channel-description p{
margin-left: 2px;
  margin-bottom: 20px;
  margin-top: 0.3px;
  font-size: 12px;
  font-weight: 450;
  letter-spacing: 0.05rem;
  color: rgb(41, 39, 39);
  white-space: nowrap;
}


@media screen and (max-width: 600px) {
  .videos {
    width: 250px;
    margin-bottom: 20px;
  }
  .video-Thumbnail {
    height: 130px;
    width: 245px;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
